*{
   margin: 0;
   padding: 0;
}
body{
    background-color: aqua;
}

.content{
    background-color: white;
    color:black; 
    padding: 10px 20px;
}

.box-model{
    border: 3px solid black;
    margin: 30px 20px;
}