.parent{
    position: relative;
    background-color: red ;
    width: 300px;
    height: 300px;
} 

.child{
    position: absolute;
    top:0;
    right:0;
    background-color: teal;
    width:100px;
    height: 100px;
    margin:5px;
    display: inline-block;
    
    
}