body {
    background-color: aqua;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight:bold;
}

p{
    font-weight: bold;
}

button{
    background-color: coral;
    border: 3px solid white;
    color: white;
    border-radius: 12cm;
    box-shadow:blue ;

}
input{
    width:   100%;
}

.name{
    color:black;
}
#blue{
    color:blue;
}
